# Configurações do Banco de Dados
DATABASE_URL=sqlite:///./fluxia.db
# Para o futuro na nuvem: postgresql://usuario:senha@host:5432/nomedobanco

# Chaves de API de IA (se aplicar)
OPENAI_API_KEY=sua_chave_aqui
GEMINI_API_KEY=sua_chave_aqui

# Configurações da Aplicação
SECRET_KEY=sua_chave_secreta_aqui
ADMIN_API_KEY=sua_chave_administrativa_aqui
PORT=8000